@model IEnumerable<DatabaseAccess.EmployeePerformance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitVolume)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSatisfactionScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemsSoldToday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeerReviewScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfitVolume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerSatisfactionScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemsSoldToday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeerReviewScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PerformanceID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PerformanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PerformanceID })
        </td>
    </tr>
}

</table>
